<h2 align="center">¿Qué es y por qué usar Virt Manager?</h2>

Es una interfaz de escritorio para entornos Linux que permite administrar máquinas virtuales mediante <a href="https://linux-kvm.org/page/Main_Page" target="_blank">KVM</a>, <a href="https://www.qemu.org/" target="_blank">QEMU</a> y <a href="https://libvirt.org/" target="_blank">libvirt</a>.

Se utiliza porque facilita la gestión de máquinas virtuales a través de una interfaz gráfica, evitando el  uso exclusivo de la terminal y permitiendo configurar recursos, redes, almacenamiento y snapshots de forma sencilla.

<a onclick="Reveal.down(); return false;" style="display: table; margin: 2.5rem auto; cursor: pointer"><i class="fa-solid fa-down-long fa-bounce fa-2xl"></i></a>

--

<h3 align="center">Instalación de Virt Manager</h3>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1em; text-align: center">

<div style="display: flex; gap: 0.3em">
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/ubuntu.svg %} En Ubuntu /</div>
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/linuxmint.svg %} Linux Mint /</div>
<div style="display: flex;  flex-direction: column; align-items: center">{% include icon/debian.svg %} Debian</div>
</div>


<div style="display: flex; gap: 0.3em">
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/fedora.svg %} En Fedora /</div>
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/redhat.svg %} RHEL /</div>
<div style="display: flex;  flex-direction: column; align-items: center">{% include icon/centos.svg %} Centos</div>
</div>

</div>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1em">

```bash
sudo apt update && sudo apt upgrade
sudo apt install virt-manager
```

```bash
sudo dnf update
sudo dnf install virt-manager
```

</div>

<br>

<h3 align="center">Habilitar el servicio de virtualización</h3>

<p style="line-height: 1.3; font-size: 0.8em">Aunque estas distribuciones suelen activar el servicio de forma automática tras la instalación, es una buena práctica asegurar el arranque de los servicios esenciales</p>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1em; text-align: center">

<div style="display: flex; gap: 0.3em">
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/ubuntu.svg %} En Ubuntu /</div>
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/linuxmint.svg %} Linux Mint /</div>
<div style="display: flex;  flex-direction: column; align-items: center">{% include icon/debian.svg %} Debian</div>
</div>


<div style="display: flex; gap: 0.3em">
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/fedora.svg %} En Fedora /</div>
<div style="display: flex; flex-direction: column; align-items: center">{% include icon/redhat.svg %} RHEL /</div>
<div style="display: flex;  flex-direction: column; align-items: center">{% include icon/centos.svg %} Centos</div>
</div>

</div>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1em">

```bash
sudo systemctl enable --now libvirtd
```

```bash
sudo systemctl enable --now libvirtd
```

</div>

<a onclick="Reveal.down(); return false;" style="display: table; margin: 2.5rem auto; cursor: pointer"><i class="fa-solid fa-down-long fa-bounce fa-2xl"></i></a>

--

<h2 align="center">Abrir la aplicación</h2>

<p class="text-center">Una vez instalado, busca la aplicación <em>"Virtual Machine Manager"</em></p>


<style>
  #pics svg {
    height: 50px;
    width: 50px;
  }
</style>
<div style="display: flex; align-items: center; justify-content: center; gap: 20px" id="pics">{% include icon/ubuntu.svg %} {% include icon/fedora.svg %}</div>

<div style="display:flex; align-items:center; justify-content:center; gap:20px;">
  <img
    src="/assets/media/ubuntu/buscar-virtual-machine-manager.webp"
    width="50%"
    height="400"
    style="object-fit: cover;"
    data-preview-image
    data-preview-fit="contain"
  >
    <img
    src="/assets/media/fedora/search-app-virt-manager.webp"
    width="50%"
    height="400"
    style="object-fit: cover;"
    data-preview-image
    data-preview-fit="contain"
  >
</div>

<a onclick="Reveal.down(); return false;" style="display: table; margin: 2.5rem auto; cursor: pointer"><i class="fa-solid fa-down-long fa-bounce fa-2xl"></i></a>


--

<h2 align="center">El primer inicio de Virt-Manager</h2>


<div style="display:flex; align-items:center; justify-content:center; gap:20px;">
<p>Al abrir la aplicación por primera vez, puede suceder que veas un error de conexión a la API de virtualización <a href="https://libvirt.org/" target="_blank">libvirt</a>.</p>
<i class="fa-solid fa-right-long fa-xl"></i>
<img
  src="/assets/media/ubuntu/error-al-conectar-con-libvirt.webp"
  width="45%"
  data-preview-image
  data-preview-fit="contain"
>
</div>

<div style="display:flex; align-items:flex-start; justify-content:space-between; gap:20px;">
<p style="width: 50%">Esto ocurre porque el usuario aún no tiene permisos para acceder al servicio.</p>
<i class="fa-solid fa-right-long fa-xl" style="align-self: center;"></i>

<div style="width: 50%;">

Conceder permisos:
```bash
sudo usermod -aG libvirt $USER
sudo usermod -aG kvm $USER
```
</div>
</div>



<a onclick="Reveal.down(); return false;" style="display: table; margin: 2.5rem auto; cursor: pointer"><i class="fa-solid fa-down-long fa-bounce fa-2xl"></i></a>

--

Al entrar nuevamente al programa, ya puedes continuar con el proceso de crear una nueva máquina virtual:

<div style="display: flex; align-items: center; justify-content: center; gap: 20px" id="pics">{% include icon/ubuntu.svg %} {% include icon/fedora.svg %}</div>

<div style="display:flex; align-items:center; justify-content:center; gap:20px;">
  <img
    src="/assets/media/ubuntu/crear-una-nueva-maquina-con-virt-manager-paso-1.webp"
    width="50%"
    height="330"
    style="object-fit: cover;"
    data-preview-image
    data-preview-fit="contain"
  >
  <img
    src="/assets/media/fedora/virt-manager-new.webp"
    width="50%"
    height="330"
    style="object-fit: cover;"
    data-preview-image
    data-preview-fit="contain"
  >
</div>
