---
theme: "black-retro"
---

<!-- .slide: data-background-image="/assets/media/extras/bg-debian-red.webp" data-background-size="cover" class="pixel-font" -->

<div style="display: grid; grid-template-columns: 25% 75%; align-items: center; gap: 1rem">
<img src="/assets/media/pixels/avatar-2.webp" alt="logo rpie" width="100%" style="filter: drop-shadow(4px 4px 0 #1a1a1a) drop-shadow(0 0 6px rgba(180,180,180,.25)); image-rendering: pixelated;">
<div class="text">
<br>

<blockquote style="padding-top: 1em; font-size: 1.2em; line-height: 1.4em;">Instalación y configuración de <strong>RetroPie en sistemas basados en Debian</strong>.</blockquote>
<p style="text-align: left;">
    Por <strong>@mcherrera</strong> |
    <a href="//mcherrera.dev" target="_blank">mcherrera.dev</a>
</p>
</div>
</div>

Presiona <kbd class="pixel-key" onclick="Reveal.next(); return false;">→</kbd> para continuar

<img src="/assets/media/pixels/rpie.webp" alt="logo rpie" width="16%" style="position: absolute; bottom: 0; right: 0">

---

<!-- .slide: class="pixel-font" -->

<h2 class="r-fit-text">Tener una Distribución basada en Debian</h2>

<style>
.pixel-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    transition:
        transform .12s steps(3),
        filter .12s steps(3);
}

.pixel-logo{
    image-rendering:pixelated;
    image-rendering:crisp-edges;
    width:100px;
    filter:contrast(1.15) saturate(1.2);
    transition:inherit;
}

.pixel-card p{
    margin:.4em 0 0;
}

.pixel-card:hover{
    transform:translateY(-8px) scale(1.12);
    filter:brightness(1.25);
    animation:pixelSelect .18s steps(2) infinite alternate;
}

.pixel-card:hover .pixel-logo{
    filter:
        brightness(1.35)
        contrast(1.6)
        saturate(1.6)
        drop-shadow(4px 4px 0 #000);
}

.pixel-card:hover,
.pixel-card:hover p,
.pixel-card:hover span{
    text-shadow:
        2px 2px 0 #000,
        0 0 8px rgba(255,255,255,.25);
}

@keyframes pixelSelect{
    from{
        transform:translateY(-6px) scale(1.10);
    }
    to{
        transform:translateY(-10px) scale(1.14);
    }
}
</style>

<div style="display: flex; justify-content: center; gap: 1.6em; margin-top: 1em">
<a href="/slides/instalacion-lubuntu20.html" data-preview-link>
<div class="pixel-card">
  <img src="/assets/media/pixels/lubuntu.webp" alt="logo lubuntu" class="pixel-logo">
  Lubuntu
  <p><span style="color: #fefefe;">20.04 LTS</span> +</p>
</div>
</a>
<a href="https://releases.ubuntu.com/18.04/" target="_blank">
<div class="pixel-card">
  <img src="/assets/media/pixels/ubuntu.webp" alt="logo ubuntu" class="pixel-logo">
  Ubuntu
  <p><span style="color: #fefefe;">20.04 LTS</span> +</p>
</div>
</a>
<a href="https://www.linuxmint.com/rel_ulyana_cinnamon.php" target="_blank">
<div class="pixel-card">
  <img src="/assets/media/pixels/linux-mint.webp" alt="logo linux mint" class="pixel-logo">
  Linux Mint
  <p><span style="color: #fefefe;">20 LTS</span> +</p>
</div>
</a>
</div>

> __Con cualquiera de estas distribuciones instaladas__, ya podemos continuar con la instalación de RetroPie.

Presiona <kbd class="pixel-key" onclick="Reveal.next(); return false;">→</kbd> para continuar

---

<!-- .slide: class="pixel-font" -->

<div style="display: grid; grid-template-columns: 20% 80%;gap: 1em; align-items: center">
<img src="/assets/media/pixels/link.gif" alt="link" width="100%">

> **Ojo**: El script de RetroPie para Debian **solo funciona en sistemas x86** (**32** y **64 bits**). Si usas un equipo ARM, deberás ejecutar una máquina virtual **x86**; en una máquina virtual ARM no funcionará.

</div>

---

<!-- .slide: data-background-size="cover" class="pixel-font" -->
<h2 class="r-fit-text">Realiza los siguientes pasos en la Terminal</h2>


<div style="display: grid; grid-template-columns: 70% 30%;gap: 1em; align-items: center; margin-top: 1.2em">

> Recuerda abrir la Terminal con:
>
> <kbd class="pixel-key">Ctrl</kbd> + <kbd class="pixel-key">Alt</kbd> + <kbd class="pixel-key">T</kbd>

<img src="/assets/media/pixels/hacker.gif" alt="hacker" width="100%">
</div>


Presiona <kbd class="pixel-key" onclick="Reveal.next(); return false;">→</kbd> para continuar

---

<!-- .slide: data-background-size="cover" class="pixel-font" -->

<font size="5"><span style="color: rgb(171, 0, 0);">1.</span> Actualiza el sistema</font>
{% include terminal-pixel.html command="sudo apt update && sudo apt upgrade -y" %}

<font size="5"><span style="color: rgb(171, 0, 0);">2.</span> Instala los paquetes necesarios</font>

{% include terminal-pixel.html command="sudo apt install -y git dialog unzip xmlstarlet" %}

<font size="5"><span style="color: rgb(171, 0, 0);">3.</span> Descarga el script de configuración de RetroPie</font>

{% include terminal-pixel.html command="git clone --depth=1 https://github.com/RetroPie/RetroPie-Setup.git" %}

<font size="5"><span style="color: rgb(171, 0, 0);">4.</span> Ingresa a la carpeta y ejecuta el instalador</font>

{% include terminal-pixel.html command="cd RetroPie-Setup && sudo ./retropie_setup.sh" %}

Presiona <kbd class="pixel-key" onclick="Reveal.next(); return false;">→</kbd> para continuar

---

<!-- .slide: data-background="#151515" data-background-size="cover" class="pixel-font" data-transition="convex" style="align-items: center" -->

> El script comenzará a ejecutarse e instalará paquetes adicionales, tras unos breves momentos, aparecerá el menú como se muestra a continuación.

{% assign imagenes = site.static_files | where_exp: "item", "item.path contains '/assets/media/rpie/run-script-setup/'" %}

{% capture grid %}
<div class="gallery-grid">
  {% for imagen in imagenes %}
    <figure class="gallery-item">
      <span class="num-badge">{{ forloop.index }}</span>
      <img src="{{ imagen.path }}" alt="{{ imagen.name }}" data-preview-image data-caption="Carga de la imagen ISO de Windows Server 2025 y asignación de recursos.">
    </figure>
  {% endfor %}
</div>
{% endcapture %}

{{ grid | strip_newlines }}

> El proceso puede tardar entre 20 y 30 minutos, dependiendo del hardware y la conexión a internet.

Presiona <kbd class="pixel-key" onclick="Reveal.next(); return false;">→</kbd> para continuar

---

<!-- .slide: class="pixel-font" data-transition="convex" style="align-items: center" -->

> Una vez finalizada la instalación, el sistema regresará al menú principal del script. En ese momento, simplemente cierra la ventana y busca __rpie__ (o ejecuta __emulationstation__ desde la terminal).

---

<!-- .slide: class="pixel-font" data-transition="convex" -->

<style>
  .pixel-gamepad {
    width: 140px;
    height: auto;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    opacity: .95;

    filter:
        drop-shadow(0 0 10px rgba(0, 255, 255, .45))
        drop-shadow(0 15px 25px rgba(0,0,0,.75));

    transition:
        transform .35s ease,
        filter .35s ease;

    animation: gamepadFloat 4s ease-in-out infinite;
}

.pixel-gamepad:hover {
    transform: scale(1.08) rotate(-4deg);

    filter:
        drop-shadow(0 0 18px rgba(0,255,255,.85))
        drop-shadow(0 20px 35px rgba(0,0,0,.9));
}


@keyframes gamepadFloat {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
</style>

<h2 class="r-fit-text">Configurar controles inalambrico en Retropie</h2>


> Configura tu gamepad inalámbrico favorito en RetroPie vía Bluetooh y prepáralo para disfrutar tus juegos clásicos con total libertad.

<br>

<div style="display: flex; justify-content: center; gap: 1.6em; margin-top: 1em">

<a href="/slides/rpie/configurar-dualshock4.html" data-preview-link>
<div class="pixel-card">
  <img src="/assets/media/pixels/ps4-gamepad.webp" alt="ps4 gamepad" class="pixel-gamepad">
  ps4
  <p><span style="color: #fefefe;">gamepad</span> ⚙</p>
</div>
</a>
<a data-preview-image="https://cloud.githubusercontent.com/assets/10035308/22185415/f12ff342-e099-11e6-8adb-d18e9c638e94.png">
<div class="pixel-card">
  <img src="/assets/media/pixels/xbox-controller.webp" alt="ps4 gamepad" class="pixel-gamepad">
  Xbox
  <p><span style="color: #fefefe;">controller</span> ⚙</p>
</div>
</a>
</div>
