<div class="vs-card-minimal shadow-sm">
  <img src="{{ include.logo }}" alt="{{ include.name }} Logo" class="vs-logo" />
  <div class="vs-content">
    <h3 data-toc-skip class="vs-title">{{ include.name }}</h3>
    <p class="vs-desc">{{ include.description }}</p>
    <a href="{{ include.url }}" target="_blank" class="vs-btn" id="vs-btn-link">Marketplace</a>
  </div>
</div>

<style>
.vs-card-minimal {
  display: flex;
  flex-direction: row;
  background-color: var(--sidebar-bg);
  border: 1px solid var(--main-border-color); /* borde sutil */
  border-radius: 12px;
  overflow: hidden;
  max-width: 680px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.vs-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 1rem;
  border-radius: 8px;
  flex-shrink: 0;
}

.vs-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.5rem;
}

.vs-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: var(--heading-color-title); /* color azul minimalista */
}

.vs-desc {
  font-size: 0.95rem;
  color: var(--text-color); /* gris suave */
  margin-bottom: 1rem;
  line-height: 1.4;
}

.vs-btn {
  align-self: start;
  display: inline-block;
  background: var(--heading-color-title);
  color: var(--sidebar-bg);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}
#vs-btn-link:hover {
  color: #fff !important;
  border-color: var(--sidebar-bg);
}

/* Responsive */
@media (max-width: 600px) {
  .vs-card-minimal {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .vs-logo {
    margin: 1rem 0 0;
  }

  .vs-content {
    padding: 1rem;
  }

  .vs-btn {
    align-self: center;
  }
}

</style>
