pre code[class$="cmd"] {
	display: block;
	width: 100%;
	background-color: #000;
  max-height: 400px;
  color: #fafafa;
  padding: 0.7%;
	// box-shadow: 3px 3px 8px #222;
	position: relative;
	border: 1px solid #393535;
	user-select: none;
  overflow: auto !important;
}
pre:has(code[class$="cmd"]) {
 	&:before {
		content: "Símbolo del sistema";
		color: #000;
		position: sticky;
		display: flex;
		align-items: center;
		height: 30px;
		font-size: 16px !important;
		left: 0px;
		padding: 5px;
		background-color: #fafafa;
		/* Imagen de fondo antes del contenido */
		background-image: url('https://upload.wikimedia.org/wikipedia/en/e/ef/Command_prompt_icon_%28windows%29.png');
		background-size: 20px 20px; /* Ajusta el tamaño de la imagen */
		background-repeat: no-repeat;
		background-position: 6px center; /* Ajusta la posición de la imagen */
		padding-left: 30px;
    // overflow: hidden;
	}
  @media(width >= 792px) {
      font-size: 17px;
  }
 
  @media (width <= 792px) {
      margin-left: -1.2em;
      margin-right: -1.2em;
  }
}