@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;

.file-viewer {

  display: flex;
  overflow: hidden;
  margin-bottom: 1.4rem;
  border-radius: 6px;
  border:1px solid var(--main-border-color);
  & .code-panel { 
    width:80%;
    background: var(--highlight-bg-color);
    overflow: auto;
    white-space: nowrap;
    &-header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
    } 
    & pre {
        margin:0; 
        display:none; 
        overflow: visible;
        height: fit-content;
        margin-top: -2.2em;   // ajusta el pequeño espacio extra de línea
        & code {
          overflow: visible;
          font-size: 0.8rem;
          @include bp.xxxl {
                font-size: 1rem;
          }
          &.hljs { 
            background: var(--highlight-bg-color);
          }
        }
    }
  }  

  & .file-tree {
    width:20%;
    background: var(--sidebar-bg);
    user-select: none;
    -moz-user-select: none;
    font-size: calc(1rem - 1%);
    padding-top: 1.5rem;
    border-right: 1px solid var(--main-border-color);

      &::before {
        content: "FOLDERS";
        position: absolute;
        padding: 3px 10px;
        font-size: 0.6rem;
      }
      &-root {
        padding-left: 0;
        list-style: none;
        & ul {
          margin:0;
          list-style: none;
          padding: 0;
          ul {
            padding: 0;
            margin: 0;
          }
        }

        li {
          cursor: pointer;
          width: 100%;
          &.active {
            background:var(--tag-hover);
            width: 100%;
          }
          &:not(:has(ul)):hover {
            background:var(--tag-hover);
            filter: brightness(0.88); // <1 oscurece, >1 aclara
          }
          > span {
            display: block;
            width: 100%;
            padding-left: 15px !important;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
 
  }
  &::before {
    content: '';
    display: inline-block;
    margin-left: 0.8rem;
    z-index: 9999;
    position: absolute;
    top: 8px;
    left: 0;
    width: v.$code-dot-size;
    height: v.$code-dot-size;
    border-radius: 50%;
    background-color: #de6d59;
    box-shadow: (v.$code-dot-size + v.$code-dot-gap) 0 0
        #edc039,
      (v.$code-dot-size + v.$code-dot-gap) * 2 0 0
        #78c244;
  }
  @media (max-width: 768px) {
    & {
      flex-direction: column;
    }
  }
  
}
@media (max-width:768px) { 

    .file-viewer .file-tree, .file-viewer .code-panel { 
        width:100%;
    }
    .code-panel {
      height: 100%;
    }
    .file-tree {
        border: 0;
        height: 50%;
        width: 100%;
        border-bottom: 1px solid var(--main-border-color);
    }
}