---
layout: default
refactor: true
toc: false
---

<div class="bkm-sql-banner container rounded-3 my-4 py-4 px-3 px-sm-0">
  <!-- Título -->
  <h1 data-toc-skip class="text-center mb-4" style="color: var(--heading-color-title);">
    Explora mis skills
  </h1>
    <div class="icon-wrapper">
        {% include icon/dbplay.svg  %}
    </div>
  <!-- Descripción -->
  <p class="mb-3 small mb-md-4 text-center fs-5">
    Si quieres saber más sobre mis habilidades como Fullstack, ejecuta la query en el editor de abajo.
  </p>


  <!-- Editor -->
  <div class="mt-3">
    {% include sql-editor.html %}
  </div>
</div>

{% include file-viewer.html files=site.data.codes.personal.files %}

