---
layout: default
toc: false
---

<div class="my-4 py-4">
  <h1 data-toc-skip class="text-center mb-4" style="color: var(--heading-color-title);">
    Explora mis skills
  </h1>
    <div class="icon-wrapper">
        {% include icon/dbplay.svg  %}
    </div>
  <p class="mb-3 small mb-md-4 text-center fs-5">
    Si quieres saber más sobre mis habilidades como Fullstack, ejecuta la query en el editor de abajo.
  </p>

  <div class="mt-3">
    {% include sql-editor.html %}
  </div>
</div>

<p class="mb-3 small mb-md-4 text-center fs-5">
  Revisa mis apuntes sobre lo que hago. No son artículos, son simples notas. Aquí puedes ver cómo pienso.
</p>

{% include file-viewer.html files=site.data.codes.personal.files name="personal" %}

