---
layout: page
---

{% assign grouped_documents = site.documents | group_by: "category" %}

{% for category in grouped_documents %}
  <h2 class="category-title">{{ category.name | upcase }}</h2>

  <div class="table-wrapper">
    <table class="doc-table"s>
      <tbody>
        {% for document in category.items %}
          <tr class="doc-row" onclick="window.location='{{ document.url }}'" style="cursor: pointer;">

            <td class="icon-cell">
              {% if document.isPDF %}
                <i class="fa-solid fa-file-pdf file-icon pdf"></i>
              {% else %}
                <i class="fa-solid fa-display file-icon slide"></i>
              {% endif %}
            </td>

            <td class="content-cell">
              <div class="doc-title">{{ document.title }}</div>
              <div class="doc-description">
                {{ document.description | default: "Sin descripción disponible" | truncate: 120 }}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
