---
---
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/libs/reveal.js/reveal.min.css' | relative_url }}">
  <link id="highlight-theme" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
  <link id="reveal-theme" rel="stylesheet"
    href="/assets/css/libs/reveal.js/theme/{{ page.theme | default: 'black'}}.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.1/css/all.min.css">
  <link rel="stylesheet" href="{{ 'assets/css/libs/reveal.js/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/plugins/copycode.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/libs/reveal.js/custom.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/libs/reveal.js/syntax.css' | relative_url }}">
  <style>
    video {
      border-radius: 18px;
      border: 1px solid rgba(255, 255, 255, .1);
      box-shadow: 0 20px 50px rgba(0, 0, 0, .45), 0 0 0 1px rgba(255, 255, 255, .05);
      overflow: hidden;
    }

    @media(hover: hover) {
      .h-gray-to-color {
        filter: grayscale(100%) opacity(0.75);
        transition: filter 0.3s ease;
      }

      .h-gray-to-color:hover {
        filter: grayscale(0%) opacity(1);
      }
    }
  </style>
</head>

<body>

  <div class="reveal">
    <div class="slides">
      <section data-markdown data-separator-vertical="^\n--\n$">
        <textarea data-template>
            {{- content -}}
          </textarea>
      </section>
    </div>
  </div>

  <!-- Reveal.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.0/reveal.min.js"></script>
  <!-- Plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.0/plugin/markdown/markdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.0/plugin/highlight/highlight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.2.0/plugin/math/math.js"></script>
  <script src="{{ 'assets/plugins/copycode.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/trivia.js' | relative_url }}"></script>


  <script>
    const themeLink = document.getElementById("reveal-theme");
    const highlightTheme = document.getElementById("highlight-theme");

    function setTheme() {
      const systemIsDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

      // prioridad: front matter (page.theme)
      const pageTheme = "{{ page.theme | default: '' }}";

      let theme;

      if (pageTheme) {
        theme = pageTheme;
      } else {
        theme = systemIsDark ? "black" : "white";
      }

      themeLink.href = `/assets/css/libs/reveal.js/theme/${theme}.css`;

      highlightTheme.href =
        theme === "black-js"
          ? "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/monokai-sublime.min.css"
          : theme === "black"
            ? "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css"
            : "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css";

      document.querySelectorAll("section[data-bg-light]").forEach(slide => {
        slide.setAttribute(
          "data-background-image",
          theme === "black" ? slide.dataset.bgDark : slide.dataset.bgLight
        );
      });
    }

    window.addEventListener("load", setTheme);
    window.matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", setTheme);

    Reveal.initialize({
      hash: true,
      slideNumber: true,
      embedded: false,
      copycode: {
        display: "icons",
        text: {
          copy: "Copiar",
          copied: "¡Copiado!"
        },
        window: {
          title: "Terminal"
        },
        style: {
          copybg: "transparent",
          radius: "0.4em"
        }
      },
      plugins: [RevealMarkdown, CopyCode, RevealHighlight, RevealMath.KaTeX],
    });

    Reveal.on('ready', async () => {

      document.querySelectorAll(".codeblock").forEach(block => {

        const code = block.querySelector("code");
        const title = block.querySelector(".cc-window-title");

        if (!code || !title) return;

        const languageClass = [...code.classList][0];

        if (!languageClass) return;

        const language = languageClass
          .replace("language-", "")
          .replace(/^js$/, "JavaScript")
          .replace(/^html$/, "HTML")
          .replace(/^css$/, "CSS")
          .replace(/^bash$/, "Terminal")
          .replace(/^shell$/, "Shell");

        title.textContent = language
      })
    })

    Reveal.on("ready", initConsoles);
    Reveal.on("slidechanged", initConsoles);

    function sendCode(iframe, code) {
      iframe.contentWindow.postMessage(
        {
          type: "run",
          code,
        },
        "https://mcherrera.dev/mc-eruda-monokai-pro"
      );
    }

    function extractCode(codeBlock) {
      return [...codeBlock.querySelectorAll("td.hljs-ln-code")]
        .map(td => td.innerText)
        .join("\n");
    }

    function initConsoles() {

      // ===== Bloques ejecutables (.codeblock) =====
      document.querySelectorAll(".codeblock").forEach(codeBlock => {

        if (codeBlock.dataset.initialized) return;
        codeBlock.dataset.initialized = "true";

        // Solo agregar botón a bloques ejecutables con la clase .run
        const code = codeBlock.querySelector("code");
        if (!code?.classList.contains("run")) return;

        const toolbar = codeBlock.querySelector(".cc-window-right");
        if (!toolbar) return;


        const runBtn = document.createElement("button");
        runBtn.className = "cc-run-btn";
        runBtn.innerHTML = '<i class="fa fa-play-circle"></i>';
        runBtn.title = "Ejecutar código";

        const iframe = codeBlock
          .closest("section")
          ?.querySelector(".console-frame");

        if (!iframe) return;
        iframe.onload = () => sendCode(iframe, extractCode(codeBlock));

        runBtn.addEventListener("click", () => {
          if (!iframe) return;
          sendCode(iframe, extractCode(codeBlock));
        });

        toolbar.prepend(runBtn);

        console.log('Hola');

      });

      // ===== Consolas =====
      document.querySelectorAll(".console-frame").forEach(iframe => {

        if (iframe.dataset.initialized) return;
        iframe.dataset.initialized = "true";

        const wrapper = iframe.closest(".console-wrapper");

        const btn = wrapper?.querySelector(".console-restart");

        // iframe.onload = () => sendCode(iframe, extractCode(codeBlock));

        btn?.addEventListener("click", () => {
          iframe.src = iframe.src.split("?")[0] + "?t=" + Date.now();
        });

      });

    }

    document.addEventListener("click", (e) => {

      const btn = e.target.closest(".rp-copy-btn");

      if (!btn) return;

      navigator.clipboard.writeText(btn.dataset.command);

      const img = btn.querySelector("img");

      img.src = "/assets/media/pixels/clipboard-check.webp";
      img.alt = "Copiado";
      btn.title = "¡Copiado!";

      setTimeout(() => {
        img.src = "/assets/media/pixels/clipboard.webp";
        img.alt = "Copiar";
        btn.title = "Copiar comando";
      }, 1500);

    });

  </script>
  {% if page.theme == "black-retro" %}
  <script src="{{ 'assets/js/libs/reveal.js/utils/writer.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>
